.detail-container {
  border: 2px solid black;
  box-shadow: 3px 3px 3px gray;
  padding: 4rem;

  .container-info {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;

  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }

  .buy-button {
    background-color: #F6B34E;
    border: #F6B34E;
    border-radius: 25px;
    padding: 1rem 4rem;
  }

  .close-button {
    background-color: #E43939;
    border: #E43939;
    border-radius: 25px;
    padding: .5rem 2rem;
  }

}




