<div *ngIf="!product || !product.open; else detail">
  <p>Benvenuti nello shop di</p>
  <img src="https://www.develhope.co/_nuxt/img/cav_black.9dc2b13.svg" height="100">
  <p>Clicca su dettagli del visualizzare tutte le informazioni</p>
</div>

<ng-template #detail>
  <div *ngIf="product.open">
    <p style="font-size: 30px;">Dettagli prodotto</p>
    <div class="detail-container">
      <div class="container-info">
        <img src="{{product.img}}" height="300">
        <div>
          <h1 style="font-weight: bold;">{{product.title}}</h1>
          <p>Anno di uscita: {{product.exitYear}}</p>
          <p>Altezza: {{product.productHeight}}</p>
          <p>Peso: {{product.productWeight}}</p>
          <p>Pezzi di prodotti: {{product.itemsProduced}}</p>
          <p [ngStyle]="{'background-color': product.availability > 0 ? 'green' : 'red'}">Disponibilità: {{product.availability}}</p>
        </div>
      </div>
      <div>
        <p>{{product.description}}</p>
        <p style="font-weight: bold;">Prezzo: {{product.price}}€</p>
        <div class="button-container">
          <div>
            <button class="buy-button" (click)="buy(product)">Acquista</button>
          </div>
          <div>
            <button class="close-button" (click)="close(product)">Chiudi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
