.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  p {
    font-size: 32px;
  }
  .cart {
    background-color: #3f5ab9;
    border: #3f5ab9;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 1rem;
  }
  .empty {
    background-color: #e43939;
    border: #e43939;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 1rem;
  }
}
