<div>
  <strong><p>Dettagli prodotto</p></strong>
  <div class="detail-container p-5">
    <div class="d-flex justify-content-start">
      <img [src]="product.img" height="300">
      <div>
        <h1 style="font-weight: bold;">{{product.title}}</h1>
        <p>Anno di uscita: {{product.exitYear}}</p>
        <p>Altezza: {{product.productHeight}}</p>
        <p>Peso: {{product.productWeight}}</p>
        <p>Pezzi di prodotti: {{product.itemsProduced}}</p>
        <p [ngStyle]="{'background-color': product.availability > 0 ? 'green' : 'red'}">Disponibilità:
          {{product.availability}}</p>
      </div>
    </div>
    <div>
      <p>{{product.description}}</p>
      <p style="font-weight: bold;">Prezzo: {{product.price | currency: "EUR"}}</p>
      <div class="d-flex justify-content-between mt-5">
        <div>
          <button class="buy-button" (click)="buyProduct.emit(product)">Acquista</button>
        </div>
        <div>
          <button class="close-button" (click)="closeProduct.emit(true)">Chiudi</button>
        </div>
      </div>
    </div>
  </div>
</div>
