.detail-container {
  border: 2px solid black;
  box-shadow: 3px 3px 3px gray;
  .buy-button {
    background-color: #f6b34e;
    border: #f6b34e;
    border-radius: 25px;
    padding: 1rem 4rem;
    color: white;
  }
  .close-button {
    background-color: #e43939;
    border: #e43939;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    color: white;
  }
}
