<app-nav-bar [cart]="cart" (empty)="emptyCart($event)" (ahah)="emptyCartYolo($event)" ></app-nav-bar>
<div class="main-container">
  <div class="cards-container">
    <div *ngFor="let product of products; let i = index">
      <app-shop-list [product]="products[i]" (selected)="selectProduct($event)"></app-shop-list>
    </div>
  </div>
  <app-shop-detail class="detail-container" [product]="selectedProduct" (closed)="closeProduct($event)" (bought)="buyProduct($event)"></app-shop-detail>
  <div *ngFor="let product of products; let i = index">
    <app-shop-cart [cart]="cart" [product]="products[i]"></app-shop-cart>
  </div>
</div>
