<div class="main-container">
  <div>
    <p>Develhope Shop</p>
    <div *ngFor="let product of products; let i = index">
      <app-shop-list [product]="products[i]" (selected)="selectProduct($event)"></app-shop-list>
    </div>
  </div>
  <div class="feature-container">
    <div>
      <button>Carrello ({{ cart.numItems }})  {{cart.price}}€</button>
    </div>
    <app-shop-detail [product]="selectedProduct" (closed)="closeProduct($event)" (bought)="buyProduct($event)"></app-shop-detail>
  </div>
</div>
