.main-container {
  display: flex;
  .cards-container {
    width: 15%;
  }
  .detail-container {
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 26px;
  }
  .cart-container {
    width: 15%;
  }
}
